body{
   background: #000;
   color: #fff;
   font-size: 2rem;
   font-family: 'IBM Plex Sans', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 30vw;
}

li a {
   display: block;
   color: #fff;
   padding: 10px 16px;
   text-decoration: none;
   font-family: 'IBM Plex Mono', monospace;
}

li a.active {
   background-color: #555;
   color: #fff;
}

li a:hover:not(.active){
   background-color: skyblue;
   color: #fff;
}v