body{
   font-family: 'Share Tech Mono', monospace;
   background: #FDE47F;
}
p{
   text-align: center;
   font-size: 2em;
   margin-top: 300px;
}
div{
   width: 1000px;
   height: 100px;
   margin: 20px auto;
   font-size: 6em;
   text-align: center;
}
