.container{
   width: 800px;
   height: 800px;
   display: flex;
   flex-flow: nowrap;
   margin: 50px auto;
   border: 10px solid #666;
}
.left{
   /*background-color: lightblue;*/
   height: 800px;
   width: 320px;
   border-right: 10px solid #666;
   display: flex;
   flex-flow: wrap;
   overflow: hidden;
}

.leftfirst{
   background-color: #9aebdc;
   margin: 0;
   width: 100%;
   height: 3%;
}
.leftsecond{
   background-color: #a4f1cb;
   margin: 0;
   width: 100%;
   height: 3%;
}
.leftthird{
   background-color: #aeddf7;
   margin: 0;
   width: 100%;
   height: 3%;
}
.leftfourth{
   background-color: #e2c4e9;
   margin: 0;
   width: 100%;
   height: 3%;
}
.leftfifth{
   background-color: #feeb9b;
   margin: 0;
   width: 100%;
   height: 3%;
}
.leftsixth{
   background-color: #fdd2aa;
   margin: 0;
   width: 100%;
   height: 3%;
}
.leftseventh{
   background-color: #ffc0b6;
   margin: 0;
   width: 100%;
   height: 3%;
}


.right{
   /*background-color:rgb(20, 20, 5);*/
   height: 800px;
   width: 480px;
   overflow: hidden;
}
.right .rightTop{
   /*background-color: lightsalmon;*/
   height: 480px;
   width: 480px;
   border-bottom: 10px solid #666;
   display: flex;
}
.righttopfirst{
   background-color: #9aebdc;
   margin: 0;
   width: 10%;
   height: 100%;
}
.righttopsecond{
   background-color: #a4f1cb;
   margin: 0;
   width: 10%;
   height: 100%;
}
.righttopthird{
   background-color: #aeddf7;
   margin: 0;
   width: 10%;
   height: 100%;
}
.righttopfourth{
   background-color: #e2c4e9;
   margin: 0;
   width: 10%;
   height: 100%;
}
.righttopfifth{
   background-color: #feeb9b;
   margin: 0;
   width: 10%;
   height: 100%;
}
.righttopsixth{
   background-color: #fdd2aa;
   margin: 0;
   width: 10%;
   height: 100%;
}
.righttopseventh{
   background-color: #ffc0b6;
   margin: 0;
   width: 10%;
   height: 100%;
}

.right .rightBottom{
   /*background-color: lightseagreen;*/
   height: 40%;
   width: 100%;
   display: flex;
}

.rightbottomfirst{
   background-color: #9aebdc;
   margin: 0;
   width: 10%;
   height: 100%;
}
.rightbottomsecond{
   background-color: #a4f1cb;
   margin: 0;
   width: 10%;
   height: 100%;
}
.rightbottomthird{
   background-color: #aeddf7;
   margin: 0;
   width: 10%;
   height: 100%;
}
.rightbottomfourth{
   background-color: #e2c4e9;
   margin: 0;
   width: 10%;
   height: 100%;
}
.rightbottomfifth{
   background-color: #feeb9b;
   margin: 0;
   width: 10%;
   height: 100%;
}
.rightbottomsixth{
   background-color: #fdd2aa;
   margin: 0;
   width: 10%;
   height: 100%;
}
.rightbottomseventh{
   background-color: #ffc0b6;
   margin: 0;
   width: 10%;
   height: 100%;
}



.wrapper{
   width: 800px;
   height: 800px;
   margin: 50px auto;
   border: 10px solid #666;
   /*background: gold;*/
}
.top {
   /*background-color: lightsteelblue;*/
   width: 100%;
   height: 40%;
   border-bottom: 10px solid #666;
}
.bottom{
   width: 800px;
   height: 480px;
   display: flex;
}
.bottomLeft{
   /*background-color: lightgoldenrodyellow;*/
   width: 50%;
   height: 100%;
   border-right: 10px solid #666;
}
.bottomRight{
   /*background-color: lightpink;*/
   width: 50%;
   height: 100%;
